.main {
  width:480px;
  margin:50px auto;
  font-size:1.1em;
  background-color:#e8e9eb;
  padding:40px 40px;
}
strong {
  font-size:2em;
}
#acquire {
  height:38px;
  width:80px;
  margin-left:14px;
  margin-top:5px;
  font-size:0.6em;
  background-color:white;
  border-color:#e0e0e0;
  border-width:1px;
}
#register {
  width:450px;
  height:38px;
  color:white;
  background-color:blue;
  margin:5px auto;
  border-radius:20px;
  border-color:#bdcefc;
  border-width:0px;
}
#user,#telephone,#password {
  margin:5px 0;
  padding-left:5px;
  width:300px;
  font-size:1em;
  width:380px;
  height:38px;
}
#code {
  margin:5px 0;
  padding-left:5px;
  font-size:1em;
  width:280px;
  height:38px;
}
span {
  color:blue;
}
#user-validation-message,
#telephone-validation-message,
#password-validation-message,
#code-validation-message {
  color:red;
  margin-left:62px;
  font-size:0.6em;
}
a {
  font-size: 0.8em;
}
